<html>
    <head>
        <title>Xohayo's Blog</title>
    </head>
    <body>
        <div style="background-color:white;">
            <h1><a href="/">Blog</a></h1>
        </div>
        {% for post in posts %}
        <div style="background-color: cornsilk;">
            
            <p>Publicado: {{ post.published_date}}</p>
            <h2><a href="">{{ post.titulo }}</a></h2>
            <p>{{ post.articulo | linebreaksbr }}</p>
            
        </div>
        {% endfor %}

        <div name="piepagina" style="background-color:lightgrey">
        <a href="https://instagram.com/basansetti">IG</a>
        <a href="https://twitch.tv/xohy">Twitch</a>
        </div>
    </body>
</html>